server:
  port: 9000

spring:
  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}

aws:
  sqs:
    queue-url: ${AWS_SQS_QUEUE_URL:http://localhost:4566/000000000000/tintim-messages}
    endpoint: http://localstack:4566
    region: sa-east-1